{% load static %}
<!DOCTYPE html>
<html lan="en">
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
        <link rel="stylesgeet" href="https://rawgit.com/creativetimofficial/material-kit/master/assets/css/material-kit.css">
        
        <link href="{% static 'info/layout.css' %}" rel="stylesheet">
    </head>

        <div class="profile-content">
              <div class="container">
                    <div class="row">
                      <div class="col-md-6 ml-auto mr-auto">
                        <div class="profile">
                              <div class="avatar mt-2 mb-3">
                                  <img src="{% static 'info/pp.png' %}" alt="Image"><br/>
                              </div>
                              <div class="name">
                                  <h3 class="title">Biraj Adhikari</h3><br/>
                              </div>
                              <div class="social">
                                  <a href="https://github.com/BirajAd" class="btn btn-just-icon btn-link btn-github"><i class="fa fa-github" style="color: #211F1F"></i></a>
                                  <a href="https://www.linkedin.com/in/biraj-adhikari-9b309a145/" class="btn btn-just-icon btn-link btn-linkedin"><i class="fa fa-linkedin" style="color: #2867B2;"></i></a>
                              </div>
                          </div>
                      </div>
                    </div>
        </div>

        <div>
            <div class="row" style="display: flex; justify-content: center">
                <a href="{% url 'home' %}" class="btn btn-just-icon">Home</a>
                <a href="{% url 'projects' %}" class="btn btn-just-icon">Projects</i></a>
                <a href="{% url 'qualification' %}" class="btn btn-just-icon">Qualification</i></a>
            </div>
        </div>

        <body>
            {% block content %}{% endblock content %}
        </body>
</html>