{% extends 'info/layout.html' %}
{% load static %}

{% block content %}
    <head>
        <link href="{% static 'info/projects.css' %}" rel="stylesheet">
    </head>

    {% for project, description in projects.items %}
        <div class="p_title mt-1">
            <img class="pr_img mr-3" src="{{ project.image.url }}" alt="image" style="float: left">
            <div class="pr_title">
                <a style="display:block" href="{{ project.repository }}">
                    <h3 style="font-size: larger; font-family: Georgia, 'Times New Roman', Times, serif; margin-top: 3;">{{ project.name }}</h3>
                </a>
                    <h4 style="font-size: small;">{{ project.start_date|date:"M" }} {{project.start_date.year}} - {{project.end_date|date:"M"}} {{project.end_date.year}}</h4>
            </div>
        </div>

        <!-- <div>{{description}}</div> -->
        <div class="contain mt-4">
            <div class="column">
                {% for d in description %}
                <div class="comment">
                        <div class="timeline mt-1"></div>
                        <div class="circle mt-1"></div>
                        <p style="display: flex; justify-content: left;">{{d}}</p>
                </div>
                {% endfor %}
            </div>
        </div></br>
    {% endfor %}

{% endblock content %}