.name, .social {
    display: flex;
    justify-content: center;
}

h3{
    font-weight:900;
}

.btn {
    text-transform: capitalize;
}

.avatar {
    display: flex;
    justify-content: center;
}

@media(min-width: 950px){
    body {
        margin-left: 25%;
        margin-right: 25%;
        font-family: serif;
        font-size:large;
    }
}

@media(max-width: 949px){
    body {
        margin-left: 5%;
        margin-right: 4%;
        font-family: serif;
    }
}

img {
    border-radius: 50%;
    height: 137px;
    width: 137px;
}



